DEBATR_DATABASE_USER=XXX
DEBATR_DATABASE_PASSWORD=XXX
DEBATR_DATABASE_URI=XXX
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX
AWS_BUCKET_NAME=XXX
EMAIL_PROVIDER_PORT=XXX
EMAIL_PROVIDER_HOST=smtp.gmail.com
GMAIL_APP_PASSWORD=XXX
GMAIL_ADDRESS=XXX
SECRET=NCPelF91s9qvq2GXRm75gvOoETqfR8KyHb6PObsCD1W190KNGL7HPd0YyjDYnZDVCd1QEy6gHUYvbWmht7CBi8AU5onBB7ATbYAGnVTAHmQsrXhPTSyF60i1Mfm9W4YqJttG8dKjlQ4vZ3iy3jTkhO7pOcecbrNwxGwa5XpGOKLnBV6lKW2kvyerKSxsyzUAN2V4m5Az